<!-- Para resetar o estilo padrão do navegador -->
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-principal: #4f46e5;
    --cor-secundaria: #22c55e;
    --cor-fundo: #f9fafb;
    --cor-texto: #111827;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-weight: 600;
    letter-spacing: 1px;
}

h1 {
    border-bottom: 1px solid black;
}

.list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

section {
    padding: 40px 20px;
}

button {
    background: var(--cor-principal);
    color: white;
    transition: 0.3s;
}

button:hover {
    background: #3730a3;
    transform: scale(1.04);
}