/* Para resetar o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../IMG/fundo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    margin-top: 20px;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}

ol {
    margin-left: 30px;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    min-height: 500px;
    border: 1px solid black;
    background-color: #f9fafb;
    border-radius: 15px;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 300px;
}

.actions {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
}

.btn-ok {
    width: 60px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

.btn-ok:hover {
    background-color: rgb(162, 218, 162);
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-delete {
    width: 60px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: rgb(239, 144, 144);
    transform: scale(1.05);
    transition: 0.2s;
}

.btn-add {
    width: 45px;
    height: 25px;
    border-radius: 10px;
} 

.btn-add:hover {
    background-color: rgb(118, 118, 215);
    transform: scale(1.05);
    transition: 0.2s;
}

.input-tarefa {
    text-align: center;
    width: 170px;
    height: 25px;
    border-radius: 10px;  
}